bs4>=0.0.1
graphviz>=0.20.1
openai>=0.27.0
python-dotenv>=1.0.0
pytz>=2023.3
rich>=13.3.4
tiktoken>=0.3.3
wandb>=0.15.0

# for plugin:
apispec>=6.3.0
apispec-webframeworks>=0.5.2
flask>=2.3.1
flask-cors>=3.0.10
marshmallow>=3.19.0
pyyaml>=6.0

# for tutorials/demos:
ipykernel>=6.22.0