bs4>=0.0.1
chromadb>=0.3.22
numpy>=1.24.3
openai>=0.27.0
openai[datalib]>=0.27.6
python-dotenv>=1.0.0
pytest>=7.3.1
pytz>=2023.3
radon>=6.0.1
rich>=13.3.4
tiktoken>=0.3.3
wandb>=0.15.0

# for plugin:
apispec>=6.3.0
apispec-webframeworks>=0.5.2
flask>=2.3.1
flask-cors>=3.0.10
marshmallow>=3.19.0
pyyaml>=6.0
redis>=4.5.5

# for notebooks:
ipykernel>=6.22.0
ipywidgets>=8.0.6
matplotlib>=3.7.1
tqdm>=4.65.0
# graphviz>=0.20.1
